/*  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*  */

h2 {
  letter-spacing: 0.1rem;
}

/* MAIN SECTION STYLING */
.section-center {
  border: 3px solid black;
  border-radius: 4px;
  max-width: 35rem;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

/* INPUT FIELD STYLING */

.form-control {
  display: flex;
}

.submit-btn {
  background-color: #a2d2ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
}

.submit-btn:hover {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
}

#grocery {
  background-color: #f1faee;
  padding: 0.5rem;
  border-radius: 10px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Input styling for elements created dynamically  */
.input-edit {
  background-color: #f1faee;
  padding: 0.3rem;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* GROCERY CONTAINER STYLING */

.grocery-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grocery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

@media (max-width: 450px) {
  .grocery-item {
    width: 19rem;
  }

  .title {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .grocery-item {
    width: 14rem;
  }
  .title {
    font-size: 0.75rem;
  }
}

.content-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.form-div {
  /* width: 20rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-edit {
  flex-grow: 1;
  width: 100%;
}
.title {
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
}
.clear-btn {
  /* width: 6rem; */
  margin-bottom: 1rem;
  align-self: center;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  border: 0;
  background-color: bisque;
  font-weight: bold;
}
.clear-btn:hover {
  cursor: pointer;
  color: white;
  background-color: darkgrey;
}

/* FONT AWESOME ICONS STYLE */

.button-container button {
  border: none;
  outline: none;
  background-color: white;
}

.edit-btn {
  font-size: 1rem;
}
.del-btn {
  font-size: 1rem;
}

.fa-trash {
  pointer-events: none;
}

.fa-pen-to-square {
  pointer-events: none;
}

.del-btn:hover {
  cursor: pointer;
  color: #ef476f;
  font-size: 1.2rem;
}

.edit-btn:hover {
  cursor: pointer;
  color: #70e000;
  font-size: 1.2rem;
}

/* ALERT STYLING */

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

.alert {
  font-weight: 500;
  width: fit-content;
  text-align: center;
  letter-spacing: 0.2rem;
}

p.alert {
  height: 1.3rem;
  /* margin: 0; */
}

.form-div h2 {
  margin: 0.3 0 0.6rem 0;
}

/* TO DO: 
add media-queries and make mobile-design stack on top of each other
Remove fixed width on the elements, so the design does not break
Make sure it looks nice
article tag has a fixed width, either make responsive, or add media queries

*/
