/*  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* MAIN SECTION STYLING */
.section-center {
  border: 3px solid black;
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

/* INPUT FIELD STYLING */
input[type="text"] {
  background-color: antiquewhite;
  padding: 0.3rem;
  border-radius: 10px;
}
