* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-size: 62.5%;
  background-color: #23424a;
  color: white;
}

.main {
  max-width: 50%;
  padding: 5rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #23424a;
  border-radius: 25px;
  background-color: #38cfd9;
  font-size: 1rem;
  padding: 0.8rem 1.7rem;
}

/* FINISHED */
